@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'metismenu/dist/metisMenu.min.css';
@import 'select2/dist/css/select2.min.css';
@import 'simplebar/dist/simplebar.min.css';